
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Login to your account</h2>
					<form action="php/login.php" method="post">
						<input type="email" placeholder="Email Address" />
						<input type="password" placeholder="Password"/>
						<span>
							<input type="checkbox" class="checkbox"> 
							Keep me signed in
						</span>
						<input type="submit" class="btn btn-primary" name="login">
					</form>
				</div><!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form"><!--sign up form-->
					<h2>New User Signup!</h2>
					<form action="php/register.php" method="post">
						<input type="text" name="name" placeholder="Name"/>
						<input type="email" name="email" placeholder="Email Address"/>
						<input type="password" name="password" placeholder="Password"/>
						<input type="submit" class="btn btn-primary" name="submit">
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->

